<div class="jumbotron"> 
    <h1>Welcome to Milton's first Ruby on Rail Website</h1>
    <p>This is a Sample Pinterest Clone</p>
    <%= link_to 'About Us', home_about_path, class: 'btn btn-default' %>
    <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
</div>